fastapi
uvicorn
gunicorn
httpx
python-dotenv
requests
langdetect
phonenumbers
python-multipart
twilio==9.3.3
elevenlabs
azure-storage-blob
azure-cosmos
pydantic
cryptography
psutil
tenacity
pydantic-settings
quart
